# Make sublime the default editor
# export EDITOR="vim"
export EDITOR='subl -n -w'
export LESSEDIT='subl -n %f:%lm:0'

# http://twitter.com/sorbits/statuses/845782451
export MAKEFLAGS='-j4'

# perforce
export P4CONFIG=".p4config"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="l:l[ls]:cd:cd -:pwd:exit:date:g[bcdos]:gp[lrs]:* --help"

# Prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications"
